<h1>Personal Page</h1>
avatar:
<%= image_tag @user.avatar.url if @user.avatar? %>
<br>
name:
<%= @user.name %>
<br>
introduction:
<%= @user.introduction %>
<br>
<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>