/* for form style ==================== */

.image-upload {
  padding-bottom: 10px;
}

.registration-button {
  padding-bottom: 10px;  
}

/* for post show ==================== */
.post-nav {
  background-color: #DEDEDE;
  padding-left: 10px;
}

.post-table {
  border-width: 1px;
  border-style: solid;
  border-color: #DEDEDE;
  padding: 5px 5px;
}

.post-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.post-user-table {
  text-align: center;
}

.post-image {
  max-width: 60%;
}