/* for form style ==================== */

.image-upload {
  padding-bottom: 10px;
}

.registration-button {
  padding-bottom: 10px;  
}

/* for post show ==================== */
.post-nav {
  background-color: #DEDEDE;
  padding-left: 10px;
}

.nav-button {
  margin: auto 15px;
}

.post-table {
  border-width: 1px;
  border-style: solid;
  border-color: #DEDEDE;
  padding: 5px 5px;
}

.post-avatar {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.post-user-table {
  text-align: center;
}

.post-image {
  max-width: 60%;
}

.post-button-area {
  padding: 20px 0px;
  margin: 10px 0px;
}

.post-btn {
  position: absolute;
  bottom: 0; 
  margin: 10px;
}

.post-right {
  right: 0;
}

.post-left {
  left: 0;
}

.reply-row {
  background-color: #F5F5F5;
}

.reply-form {
  width: 100%;
  margin-bottom: 10px;
}

/* for admin index ==================== */
.category-thead {
  background-color: #E8FFFF;
}

.category-form {
  margin: 10px 0;
}

/* for feeds ==================== */
.feeds-up {
  background-color: #F2FFFF;
  padding: 20px 0;
}

.feeds-up-item {
  text-align: center;
  padding: 50px 0;
}

.feeds-down {
  padding: 10px 0;
}

.feeds-down-item {
  width: 18rem;
  margin: 0px auto;
}

/* for user show page ==================== */
.user-up {
  background-color: #F2FFFF;
  padding: 40px 0;
}

.user-profile {
  text-align: center;
}

.user-avatar {
  height: 180px;
  width: 180px;
  display: block;
  margin: 10px auto;
}

.user-button {
  position: absolute;
  bottom: 0;
  right: 0; 
}










